*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset css */
.container-fluid{
    width: 100%;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row>[class*="col-"]{
    padding: 12px;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: calc( 8.33% * 2) ;
}
.col-3{
    width: 25% ;
}
.col-4{
    width: calc( 8.33% * 4) ;
}
.col-5{
    width: calc( 8.33% * 5) ;
}
.col-6{
    width: 50% ;
}
.col-7{
    width: calc( 8.33% * 7) ;
}
.col-8{
    width: calc( 8.33% * 8) ;
}
.col-9{
    width: 75% ;
}
.col-10{
    width: calc( 8.33% * 10) ;
}
.col-11{
    width: calc( 8.33% * 11) ;
}
.col-12{
    width: 100% ;
}